<nav class="navbar navbar-expand-lg sticky-top nav-style p-3 justify-content-between">
    <a class="navbar-brand" href="#"><img class="imagem" src="/logo.png"></a>
    <a href="/logout" class="btn-primary">
        <i class="bi bi-arrow-right"></i>
    </a>
</nav>