<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 metade"></div>
        <div class="col-md-7">
            <div class="d-flex justify-content-center align-items-center outra">
                <form action="/login" method="post">
                    <h1 class="text-center mb-4">Login</h1>
                    <div class="mb-3">
                        <label for="email" class="form-label">Digite seu email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Digite sua senha:</label>
                        <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
